html, body{
    height: 100%;
    max-height: 100%;

    margin: 0px;
    padding: 0px;

    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
}
body{
    display: flex;
    flex-direction: column;
}