ul{
    margin: 0px;
    padding: 0;
    margin-left: 1px;
    margin-bottom: 2px;
}
li{
    
    background-color: #808080;
    color: white;
    
    cursor: pointer;

    padding: .1em;
    border-left: 4px solid transparent;
    
}
li:hover{
    color: yellow;
    border-left: 4px solid #bfb1c1;
}
h2{    
    background-color: #808080;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 1px;
}